# MongoDB Connection URL
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?appName=Cluster0
DB_NAME=megapunto_db

# Security
SECRET_KEY=your_super_secret_jwt_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# AI Chatbot (OpenAI / Compatible Provider) - Mantener privado y NO subir llaves reales a Git
AI_API_KEY=your_openai_or_compatible_api_key_here
AI_PROVIDER_URL=https://api.openai.com/v1/chat/completions
AI_MODEL=gpt-4o-mini
